*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/flagship/
build
build/
FlagshipDemo.iml
gradle.properties
keystore.properties
local.properties
.idea/
.gradle/
./app/release/app-release.apk
./app/release/flagship-demo.apk
./app/release/output.json
app/release/
